{% extends "layout.html" %}

{% block title %}
    Top Rated Restaurants
{% endblock %}

{% block content %}
    <header>
        <h1>Top Rated Restaurants</h1>
    </header>
    <main>
        <ul>
            {% for restaurant in top_rated_restaurants %}
                <li class="restaurant">
                    <h2>{{ restaurant.name }}</h2>
                    <p>Opening hours: {{ restaurant.opening_hours }}</p>
                    <p>Description: {{ restaurant.description }}</p>
                    <p>Location: {{ restaurant.location }}</p>
                    <p>Average rating: {{ restaurant.average_rating }}</p>
                </li>
            {% endfor %}
        </ul>
    </main>
    <footer>
    </footer>
{% endblock %}
