<!DOCTYPE html>
<html lang="fi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ravintolasovellus</title>
</head>
<body>
    <h1>Welcome to Restaurant-app!</h1>
    {% if session.username %}
        <p>You are logged in as: {{ session.username }}</p>
        <a href="/logout">Log out</a>
        {% if admin %}
            <form action="/add_group" method="POST">
                <p>Add a new group</p>
                <p>Group name:<br>
                <input type="text" name="name"></p>
                <input type="submit" value="Add Group">
            </form>
            <br>
            <hr>
            <form action="/add_restaurant" method="POST">
                <p>Add a new restaurant</p>
                <p>Name:<br>
                <input type="text" name="name"></p>
                <p>Description:<br>
                <textarea name="description"></textarea></p>
                <p>Location:<br>
                <input type="text" name="location"></p>
                <p>Groups:</p>
                    {% for group in all_groups %}
                        <input type="checkbox" id="group{{ group.id }}" name="groups" value="{{ group.id }}">
                        <label for="group{{ group.id }}">{{ group.name }}</label><br>
                    {% endfor %}
                <input type="submit" value="Add Restaurant">
            </form>
        {% endif %}
        <form action="/search" method="get">
            <label for="search_term">Search restaurants by description:</label><br>
            <input type="text" id="search_term" name="search_term">
            <button type="submit">Search</button>
        </form>
        <a href="/best_rated_restaurants">Top Rated Restaurants</a> 
    {% else %}
        <a href="/login">Log in</a> |
        <a href="/register">Register</a>
    {% endif %}

    {% if all_restaurants %}
        <h2>All Restaurants:</h2>
        <ul>
            {% for restaurant in all_restaurants %}
                <li>Name: {{ restaurant.name }}</li>
                <li>Description: {{ restaurant.description }}</li>
                <li>Location: {{ restaurant.location }}</li>
                <li>Groups:
                    {% for group in restaurant.groups %}
                        {{ group }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </li>
                {% if session.username %}
                    <form action="/reviews/{{ restaurant.id }}" method="get">
                        <button type="submit">Reviews</button>
                    </form>
                    {% if session.admin %}
                        <form action="/edit_restaurant/{{ restaurant.id }}" method="get">
                            <button type="submit">Edit</button>
                        </form>
                        <form action="/delete_restaurant/{{ restaurant.id }}" method="post">
                            <input type="submit" value="Delete">
                        </form>
                    {% endif %}
                {% endif %}
                <hr>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>
