{% if session.username %}
    <p>Olet kirjautunut nimellä {{ session.username }}</p>
    <a href="/logout">Kirjaudu ulos</a>
    {% if session.is_admin %}
        <a href="/admin/add_group"><button>Lisää ryhmä</button></a>
        <a href="/admin/add_restaurant"><button>Lisää ravintola</button></a>
    {% endif %}
{% else %}
    <header>
        <h2>Welcome to Restaraunt-app</h2>
        <p>If you're new here, you can create an account or log in to get started!</p>
        <div>
            <a href="{{ url_for('login_route') }}"><button>Login</button></a>
            <a href="{{ url_for('register_route') }}"><button>Register</button></a>
        </div>
    </header>
{% endif %}
