<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Restaurant App</title>
</head>
<body>
    <h1>Welcome to Restaurant App</h1>

    {% if session.username %}
        <p>Olet kirjautunut nimellä {{ session.username }}</p>
        <a href="/logout">Kirjaudu ulos</a>
    {% else %}
        <div>
            <a href="/login">Kirjaudu sisään</a>
        </div>
        <div>
            <a href="/register">Rekisteröidy</a>
        </div>
    {% endif %}
</body>
</html>
