{% extends "layout.html" %}

{% block title %}
    Write review for {{ restaurant.name }}
{% endblock %}

{% block content %}

    <h1>Write a Review for {{ restaurant.name }}</h1>
    <form action="/add_review/{{ restaurant.id }}" method="post">
        <label for="review_text">Review:</label><br>
        <textarea id="review_text" name="review_text" rows="4" cols="50"></textarea><br>
        <label for="rating">Rating (choose between 1-5):</label><br>
        <input type="number" id="rating" name="rating" min="1" max="5"><br>
        <input type="submit" value="Submit">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>

    <h2>Existing Reviews for {{ restaurant.name }}: </h2>
    {% if reviews %}
        <ul>
            {% for review in reviews %}
                <li>User: {{ review.username }}</li>
                <li>Rating: {{ review.rating }}</li>
                <li>Review: {{ review.review_text }}</li>
                <li>Posted at: {{ review.created_at }}</li>
                {% if session.username == review.username or session.admin %}
                    <form action="/delete_review/{{ review.id }}" method="post">
                        <button type="submit">Delete</button>
                        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                    </form>
                {% endif %}
                <hr>
            {% endfor %}
        </ul>
    {% else %}
        <p>No reviews available yet.</p>
    {% endif %}
{% endblock %}
